*,
body *{box-sizing: border-box;}

/* Set full-page background */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  background-color: black;
}

p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: #ccc;
  text-shadow: 0 0 20px rgb(132, 0, 255), 0 0 40px rgb(132, 0, 255);
}

section {
  padding: 4rem 2rem;
}

@media (max-width: 560px){
  section{padding: 2rem 1rem;}
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 560px){
  .content-wrapper{max-width: 100%;}
}

.content-wrapper.content-wrapper--narrow {
  max-width: 960px;
}

.centered-copy {
  text-align: center;
}

/* Dim overlay for better readability */
.overlay {
  background: url('images/WebsiteBackgroundmk2.jpg') center 0px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Header styling */
h1 {
  font-size: 120px;
  margin: 0;
  text-shadow: 0 0 20px rgb(132, 0, 255), 0 0 40px rgb(132, 0, 255);
}

/* Header styling */
h2 {
  font-size: 5rem;
  margin: 0;
  text-shadow: 0 0 20px rgb(132, 0, 255), 0 0 40px rgb(132, 0, 255);
}

h3 {
  font-size: 3rem;
  margin: 0;
  text-shadow: 0 0 20px rgb(132, 0, 255), 0 0 40px rgb(132, 0, 255);
}

/* Optional subheader/tagline */
.tagline {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: #ccc;
  text-shadow: 0 0 20px rgb(132, 0, 255), 0 0 40px rgb(132, 0, 255);
}

.text-image .content-wrapper {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.text-image.text-image--reverse .content-wrapper{
  flex-flow: row-reverse;
}

@media (max-width: 560px) {
  .text-image .content-wrapper,
  .text-image.text-image--reverse .content-wrapper {
    flex-flow: column;
  }
}

.text-image__image,
.text-image__copy {
  width: calc(50% - 1.5rem);
}

@media (max-width: 560px) {
  .text-image__image,
  .text-image__copy {
    width: 100%;
  }
}

.text-image + .text-image {
  padding-top: 0;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: #520093;
  color: #fff;
  text-decoration: unset;
}

.button:hover,
.button:focus {
  background: rgb(70, 0, 102);
}

.text-image__side-image .content-wrapper{
  display: flex;
  gap: 3rem;
  align-items: center;
}